<!DOCTYPE html>
<html>
  <head>
    <title>Roomie</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <div id="user_nav">
  <% if current_user %>
    Signed in as <%= current_user.name %>
     <%= link_to "Sign out", signout_path %>
  <% end %>
</div>

<style>
img {
    display: block;
    margin: 0 auto;
}
</style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
